@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1> Herzlich Willkommen</h1>

    <img src="~/@Model.Picture" width="800" />
    <form>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-route-min="0" asp-route-max="10" asp-page="/Zufallszahl">Zufallszahl zwischen 0 und 10</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-route-min="0" asp-route-max="100" asp-page="/Zufallszahl">Zufallszahl zwischen 0 und 100</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-route-min="0" asp-route-max="1000" asp-page="/Zufallszahl">Zufallszahl zwischen 0 und 1000</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-route-min="-10" asp-route-max="10" asp-page="/Zufallszahl">Zufallszahl zwischen -10 und 10</a>
        </li>
    </form>

</div>

