@page
@model _15SecondWebApp.Pages.BootstrapModel
@{
}
<div class="container-sm bg-success"> 100% Breite solange screen kleiner 576px</div>
<div class="container-xxl bg-warning">
    <div class="row">
        <div class="col-md-6">
            Erste Spalte
        </div>
        <div class="col-md-6">
            Zweite Spalte
        </div>
    </div>
   
</div>

<style>
    .row
    {
        border: 2px dotted black;
    }
    .col-md-6{
        border: 2px solid black;
    }
</style>