@page
@model _15SecondWebApp.Pages.ResultModel
@{
}
<p>@Model.Calculation @Model.Result</p>


<button>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Addition">Zurück</a>
    </li>
</button>
