@page
@model _15SecondWebApp.Pages.SubtrtactionModel
@{
}
<div class="container-md">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-page-handler="Calculate">
                <div>
                    <input type="number" id="subtrahend" name="subtrahend" />
                    <input type="number" id="minuend" name="minuend" />
                </div>
                <button type="submit"> Ergebnis berechnen.</button>
            </form>
            @if (Model.Result.HasValue)
            {
                <p> Ergebnis: @Model.Calculation</p>
            }
        </div>
        <div class="col-md-6">
            <form method="post" asp-page-handler="CalculateAndRedirect">
                <div>
                    <input type="number" id="subtrahend1" name="subtrahend1" />
                    <input type="number" id="minuend1" name="minuend1" />
                </div>
                <button type="submit"> Ergebnis auf anderer Seite anzeigen.</button>
            </form>
        </div>
    </div>
</div>
